root/local/*

root/stage/.terraform
root/stage/.terraform.lock.hcl
root/stage/terraform.tfstate
root/stage/terraform.tfstate.backup
root/stage/errored.tfstate

root/prod/.terraform
root/prod/.terraform.lock.hcl
root/prod/terraform.tfstate
root/prod/terraform.tfstate.backup
root/prod/errored.tfstate

global/local/*

global/stage/.terraform

global/prod/.terraform

lambda/image_resizer/.idea/*
